#preloader {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    color: WHITE;
    font-size: 50px;
    text-align: center;
    animation: ; */
    display: none;
}