body {
    background-color: #262c37;
    /* color: #7885E4; */
}

/* PORTFOLIO PAGE CSS */

.main-section-portfolio {
    background-color: #1f232d;
    color: #DBE7FE;
}

.main-portfolio-content {
    width: 93%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.portfolio-texts {
    padding: 10px 20px;
}

.portfolio-texts p {
    margin: 20px 150px 0 150px;
    font-size: 32px;
    position: relative;
    animation-name: transition;
    animation-timing-function: 2ms;
    animation-duration: 2.4s;
    transition: left 2s;
}

@keyframes transition {
    from {
        left: -800px;
    }

    to {
        left: 0px;
    }
}

.link-nav-div {
    background-image: url(../images/bgimg1.jpg);
}

.button-div {
    padding: 15px 0 25px 0;
}

.aasha {
    padding: 25px 10px;
    letter-spacing: 1px;
    font-size: 29px;
}

.aasha2 {
    padding: 25px 10px;
    margin: -25px 0 20px 0;
}

.aashaimg {
    padding: 2px 0 30px 0;
}

.video {
    display: flex;
    width: 70%;
    box-shadow: #21309C 0px 0px 0px 3px;
    padding: 10px 20px;
}

.video video {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.portfolio-texts1 {
    display: flex;
    width: 65%;
    text-align: justify;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    margin: 30px 0;
    padding: 20px;
    line-height: 27px;
    font-size: 20px;
}


#section3 img {
    width: 900px;
}

#section4 img {
    width: 800px;
}

.imagesss {
    display: flex;
    justify-content: space-around;
    width: 55%;
}

#img1 {
    width: 450px;
    height: 400px;
}

#img2 {
    width: 450px;
    height: 650px;
}

#img4 {
    height: 480px;
    width: auto;
}

.nextimg {
    display: flex;
    justify-content: space-around;
    width: 69%;
}

.a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background-color: #262c37;
    letter-spacing: 2px;
    font-size: 18px;
    transition: 0.5s;
    padding: 20px 40px;
    border: 1px solid #2894ff;
    text-decoration: none;
}

.a:hover {
    color: #2894ff;
}

.a span {
    display: block;
    position: absolute;
    background-color: #2894ff;
}

/*  */
.a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}



/*  */
.a span:nth-child(2) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.a:hover span:nth-child(2) {
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}

/*  */

.a span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}


/*  */

.a span:nth-child(4) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.a:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.title-lists {

    width: 580px;
    margin: 12px 12px 12px 170px;
    font-size: 20px;
    line-height: 32px;
}

.title-lists a:hover {
    color: #D04C5E;
    transition: 0.6s ease;
}

.title-lists a {
    color: #B0C7DF;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    background-color: #262c37;
    background-image: none;
}

@media screen and (max-width: 700px) {
    .hamburger_menu {
        display: block;
    }

    .navigation-bar {
        display: none;
    }

    .portfolio-texts {
        margin: 0;
    }

    .portfolio-texts p {
        margin: 24px 0 17px 0;
    }

    .title-lists {
        width: 340px;
        margin: 0 20px;
        font-size: 21px;
        line-height: 40px;
    }

    .aasha {
        font-size: 24px;
    }

    .aashaimg {
        padding: 0;
        width: 350px;
    }

    .video {
        width: 350px;
        padding: 0;
        margin: 25px 0 10px 0;
    }

    .portfolio-texts1 {
        padding: 15px;
        width: 100%;
    }

    .button-div {
        width: 340px;
    }

    .button-div a {
        width: 340px;
        padding: 15px;
        text-align: center;
        font-size: 14px;
    }

    #section3 img {
        width: 340px;
    }

    #section4 img {
        width: 340px;
    }

    .imagesss {
        width: 100%;
    }

    #img1 {
        width: 48%;
        height: 210px;
    }

    #img2 {
        width: 48%;
        height: 290px;
    }

    #section7 img {
        width: 340px;
    }

    .nextimg {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }

    #img4 {
        width: auto;
        height: auto;
    }
}

@media screen and (min-width: 700px) and (max-width: 1020px) {

    /* PORTFOLIO PAGE RESPONSIVENESS */
    .portfolio-texts p {
        margin: 30px;
    }

    .title-lists {
        margin: 0 50px;
    }

    .video {
        width: 720px;
    }

    .portfolio-texts1 {
        width: 720px;
    }

    #section3 img {
        width: 780px;
    }

    #section4 img {
        width: 700px;
    }

    .imagesss {
        width: 100%;
    }

    #img1 {
        width: 370px;
        /* height: 360px; */
    }

    #img2 {
        width: 370px;
        height: 530px;
    }

    .nextimg {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .nextimg img {
        width: 320px;
        height: 340px;
    }

    #img4 {
        width: 320px;
        height: 340px;
    }
}