@media screen and (max-width: 700px) {
    .hamburger_menu {
        display: block;
    }

    .navigation-bar {
        display: none;
    }

    /* BLOG PAGE RESPONSIVENESS */
    .main-contents-blog {
        margin-top: 40px;
    }

    .accordation_1 button {
        width: 340px;
        margin: 0 -60px;
    }

    .accordation_1 p {
        font-size: 19px;
    }

    #content1 p {
        width: 330px;
        margin: 0 0 0 -60px;
    }



    .accordation_2 button {
        width: 340px;
        margin: 0 -60px;
    }

    .accordation_2 p {
        font-size: 19px;
    }

    #content2 p {
        width: 330px;
        margin: 0 0 0 -60px;
    }


    .accordation_3 button {
        width: 340px;
        margin: 0 -60px;
    }

    .accordation_3 p {
        font-size: 19px;
    }

    #content3 p {
        width: 330px;
        margin: 0 0 0 -60px;
    }


    .accordation_4 button {
        width: 340px;
        margin: 0 -60px;
    }

    .accordation_4 p {
        font-size: 19px;
        text-align: left;
    }

    #content4 p {
        width: 330px;
        margin: 0 0 0 -60px;
    }
}