@media screen and (max-width: 700px) {
    .navigation-bar {
        display: none;
    }

    .hamburger_menu {
        display: block;
    }

    .menu ul {
        padding: 12px;
        list-style-type: none;
    }

    .menu li {
        padding: 10px;
    }

    .menu a {
        color: #B0C7DF;
        font-size: 17px;
    }


    /* main responsiveness starts from here */
    .main-wrapper {
        background-image: url(../images/bgimg1.jpg);
    }

    .texts h1 {
        font-size: 35px;
        margin-left: 10px;
    }

    .kritika {
        font-size: 35px;
    }

    .animation-texts {
        overflow: hidden;
        width: 340px;
    }

    .animation-texts h3 {
        width: 335px;
        margin-left: 10px;
        font-size: 30px;
    }

    .animation-texts span {
        font-size: 30px;
    }

    .introduction-section {
        background-image: url(../images/bgimg1.jpg);
        background-size: 100% 100%;
    }

    .intro h2 {
        font-size: 20px;
        width: 340px;
    }

    #h2 {
        letter-spacing: 0;
    }

    .content-and-image {
        display: flex;
        flex-direction: column;
    }

    .image-div {
        width: 240px;
        position: relative;
        left: 32px;
        bottom: 20px;
    }

    .pc {
        display: none;
    }

    .mob {
        display: block;
    }

    .intro {
        margin-top: 0;
    }
    
    .cv-and-contact {
        width: 120%;
        margin-left: -20px;
    }

    .download-cv a {
        width: 160px;
        height: 45px;
        display: flex;
        font-size: 17px;
        justify-content: center;
        align-items: center;
        background-color: #D04C5E;
    }

    .contact-me a {
        width: 160px;
        height: 45px;
    }

    .section-about-us {
        flex-direction: column;
        margin-top: 200px;
    }

    .details {
        background-color: red;
    }

    .about-intro {
        width: 340px;
    }

    .about-me {
        width: 100%;
        margin: 20px auto;
    }

    /* about me contact content starts from here */
    .section-contact-me {
        width: 100%;
        margin: -70px 0 10px 0;
    }

    .form-validation {
        width: 70%;
    }

    .form-validation input {
        width: 310px;
        border: 1px solid #c4c1c1;
    }

    .form-validation textarea {
        width: 310px;
    }

    .submit-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .copyright p {
        font-size: 17px;
        text-align: center;
    }

}